$color-black: #222;
$color-white: #fff;
$color-background: lightgray;
$color-title: #D54A5C;
$color-inactive: #a7a7a7;
$color-active: #FF4136;
$color-hover: #a55656;
$color-sidebar: #D54A5C;
$color-lightgray: #fafafa;
$color-gray: #efefef;
$font-main: 'Source Sans Pro', sans-serif;
$font-text: 'Open Sans', sans-serif;

html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
html,body
{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: $color-black;
    font-family: $font-main;
    min-width: 300px;
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
    text-rendering: optimizeLegibility;
    text-align: justify;
    line-height: 1.6;
}
p {
    font-family: $font-text;
}
address {
    margin-bottom: 0
}
.empathise {
    font-weight: 300;
    font-style: italic;
}
.beta {
  background: $color-background;
}
.no-link-style {
    color: inherit;
    text-decoration: none;
}

.no-link-style:hover {
    color: inherit;
    text-decoration: none;
}

.nowrap {
    white-space: nowrap;
}
.no-border{
  border: none;
}
.border-bottom-light {
  border-bottom: 1px solid $color-gray;
}
.header {
    color: $color-title;
    font-weight: bold;
}
.full{
    margin: 0 auto;
    padding:0;
    width: 100%;
}
.card {
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
  background-color: $color-lightgray;
  margin-bottom: 10px;
}
.card-content {
  padding-top: 15px;
}
.title {
    text-align: center;
}
.coverimage{
    height: 55vh;
    max-width: 1920px;
    margin: auto;
    background: url(../images/coverimage-gradient.JPG) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navigation {
    margin-top: -54px;
    padding-top: 20px;
    text-align: center;
    font-size: 16pt;
}

.navigation div {
    height: 34px;
}

.fixed {
  .title {
      margin-bottom: 55vh;
  }
  .coverimage {
      position: fixed;
      top: calc(-55vh + 54px);
      width: 100%;
      z-index: 99;
  }

  .navigation {
      position: fixed;
      top: 0;
      margin: 0;
      padding-top: 20px;
      width: 100%;
      z-index: 99;
  }
}

.logo {
    padding-top: 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.logo img {
    height: 50px;
    max-width: 100%;
}

.search {
    padding-top: 10px;
}



.link {
  a {
      color: $color-inactive;
      text-decoration: none;
      display: block;
  }

  .ellipse {
      fill: $color-inactive;
  }

  .active .ellipse {
      fill: $color-white;
  }

  :hover {
      color: $color-hover;
  }

  :hover .ellipse {
      fill: $color-hover;
  }

  .active :hover {
      color: $color-white;
  }

  .active :hover .ellipse {
      fill: $color-white;
  }
}

.active {
    border-bottom: 2px solid $color-active;
}

.active a {
    color: $color-white;
}

.nav-icon {
    width: 23px;
    height: 20px;
}

svg:not(:root) {
    overflow: visible;
}
.content {
    max-width: 800px;
    min-height: 90vh;
}
.sidebar {
    background: $color-sidebar;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 100px;
}
.sidebar a {
  color: $color-lightgray;
}
.side-bar>th,td{
    padding: 6px;
}
.timeline-date {
  h3 {
    margin-bottom: 0;
    text-align: center;
  }
  h5 {
    margin: 0;
    color: $color-title;
    text-align: center;
  }
  .month {
    margin-top: -5px;
  }

}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: $color-gray;
    text-align: center;
}
