<div>
    <h1>Personen</h1>
    <p class="empathise">
        Vorstand des Club 81
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Person</th>
                <th>Funktion</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Jonathan Vogt</td>
            <td>Präsident</td>
        </tr>
        <tr>
            <td>Samuel Fritz</td>
            <td>Vizepräsident</td>
        </tr>
        <tr>
            <td>Simon Böhi</td>
            <td>Kassier</td>
        </tr>
        <tr>
            <td>Levin Blaser</td>
            <td>Aktuar</td>
        </tr>
        </tbody>
    </table>
</div>