<div>
    <h1>Jahresprogramm</h1>

    <a ng-click="pastElements()">{{link}}</a>

    <div ng:repeat="(year,program) in program" class="table-responsive no-border">
        <table class="table table-hover">
            <h5>{{year}}</h5>
            <thead>
            <tr>
                <th>Datum</th>
                <th>Beschreibung</th>
                <th>Details</th>
                <th>Kategorie</th>
            </tr>
            </thead>
            <tbody>
            <tr ng:repeat="p in program" class={{p.tag}}>
                <td>{{p.date | date}}</td>
                <td>{{p.description}}</td>
                <td>{{p.details}}</td>
                <td>{{p.cat}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
