<div>
    <h1>Mitglied werden</h1>
    <p class="empathise">
        Wie kann ich dem Club 81 beitreten?
    </p>

    <p>
        Wenn du beitreten willst, kommst du am besten alleine oder mit einigen Freunden während den Öffnungszeiten
        vorbei.
        Du darfst ohne Mitgliedschaft zwei Mal im Club vorbeischauen. Danach kannst du dich bei einem Vorstandsmitglied melden
        um ein Anmeldeformular zu erhalten. Die Mitgliedschaft kostet jährlich 100 CHF.
    </p>
    <h3>Rechte und Pflichten</h3>
    <p>
        Als Mitglied hast du drei Pflichten:
    <p>
    <ol>
        <li>Wir wollen das du aktiv bist und dich am Club interessierst und beteiligst</li>
        <li>Für alle Mitglieder ist das Zeitungssammeln obligatorisch (siehe im Programm)</li>
        <li>Erscheinen an der GV</li>
    </ol>
    <p>Als Mitglied hast du unter anderem folgende Rechte:</p>
    <ol>
        <li>Du darfst ein Mal im Jahr das Clubhaus für ein privates Event reservieren</li>
        <li>Du darfst jederzeit im Club sein (ausser bei privaten Events)</li>
        <li>Dir stehen günstige Getränke zur Verfügung</li>
    </ol>

    <p>
        Bei dringenden Fragen kannst du uns natürlich jeder Zeit kontaktieren!
    </p>
    <p class="empathise">Wir freuen uns auf dich!</p>
</div>
