<div>
  <h1>Timeline</h1>
  <p class="empathise">
    Ein überblick über die letzten Events des Club 81.
  </p>
  <div class="card col-xs-12">
    <div class="border-bottom-light row">
      <!--Title-->
      <div class="col-xs-1 timeline-date">
        <div class="">
          <h3>28</h3>
        </div>
        <div class="month">
          <h5>Oct</h5>
        </div>
      </div>
      <div class="col-xs-11">
        <h2>Halloween Party</h2>
      </div>
    </div>
    <div class="row">
      <!--Text-->
      <div class="col-xs-12">
        <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
          sea tak
        </p>
      </div>
    </div>
  </div>
</div>
