<div>
  <h1>Timeline</h1>
  <p class="empathise">
    Ein überblick über die letzten Events des Club 81.
  </p>
  <div ng-show="error" class="alert alert-danger">
    <strong>Error!</strong> Die Events konnten nicht geladen werden.
  </div>
  <div ng:repeat="event in events" class="card col-xs-12">
    <div class="border-bottom-light row">
      <div class="col-xs-1 timeline-date">
        <div class="">
          <h3>{{event.day}}</h3>
        </div>
        <div class="month">
          <h5>{{event.month}}</h5>
        </div>
      </div>
      <div class="col-xs-11">
        <h2>{{event.title}}</h2>
      </div>
    </div>
    <div class="row card-content">
      <div class="col-xs-12 col-sm-9">
        <p>{{event.text}}</p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <img class="img-responsive hidden-xs" ng-show="event.thumbnail" ng-src="{{event.thumbnail}}"/>
        <a class="link" href="{{event.galeryLink}}" ng-show="event.galeryLink">
            zur Galerie
          </a>
      </div>
    </div>
  </div>
</div>
