<div>
    <h1>Personen</h1>
    <p class="empathise">
        Vorstand des Club 81
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Person</th>
                <th>Funktion</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Yannic Mohr</td>
            <td>Präsident</td>
        </tr>
        <tr>
            <td>Jonas Fuchs</td>
            <td>Vizepräsident</td>
        </tr>
        <tr>
            <td>Tobias Ruckstuhl</td>
            <td>Kassier</td>
        </tr>
        <tr>
            <td>Noah Gunsch</td>
            <td>Aktuar</td>
        </tr>
        </tbody>
    </table>
</div>
